In [4]:
%load_ext sql

In [6]:
%env DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

env: DATABASE_URL=postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db

In [7]:
%env DATABASE_URL

'postgresql://itversity_retail_user:itversity@localhost:5432/itversity_retail_db'

In [8]:
%%sql

SELECT * FROM orders LIMIT 10

10 rows affected.

[(60001, '2013-10-20 00:00:00.0', 1376, 'COMPLETE'),
 (60002, '2013-10-20 00:00:00.0', 6345, 'PENDING_PAYMENT'),
 (60003, '2013-10-20 00:00:00.0', 329, 'PROCESSING'),
 (60004, '2013-10-20 00:00:00.0', 10907, 'PENDING'),
 (60005, '2013-10-20 00:00:00.0', 5156, 'COMPLETE'),
 (60006, '2013-10-20 00:00:00.0', 8256, 'PROCESSING'),
 (60007, '2013-10-20 00:00:00.0', 8597, 'PROCESSING'),
 (60008, '2013-10-20 00:00:00.0', 11514, 'ON_HOLD'),
 (60009, '2013-10-20 00:00:00.0', 1185, 'ON_HOLD'),
 (60010, '2013-10-20 00:00:00.0', 1169, 'COMPLETE')]